.data {
  display: grid;
  padding: 0 .1rem;
  gap: 5px;
  flex: 1;
 
}

.data .titulo {
  margin: 0;
  text-transform: capitalize;
  font-weight: 40;
}

.titulo-seccion {
  font-weight: 18;
}

.tag {
  background-color: #DCDCDC;
  color: #0a0606;
  padding: 4px 6px;
  margin-right: 5px;
  border-radius: 100px;
  text-transform: capitalize;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.stats > section {
  display: flex;
  align-items: center;
  flex-direction:  column-reverse;
  text-transform: capitalize;
  
}

.puntos {
  border: 2px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background: rgb(136, 117, 154);
}

.tage {
  background-color: rgb(46, 119, 191);
  color: #0a0606;
  padding: 4px 6px;
  margin-right: 5px;
  border-radius: 100px;
  text-transform: capitalize;
  height: 55px;
  width: 255px;
}

.boton {
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
  padding: 5px 20px;
  background-color: #cfd6e3;
  border: 2px solid #b3b4bb;
  border-radius: 35px;
}

.ButtonStyle {
  position: absolute;
  /* Agrega otros estilos necesarios aquí */
}

.table{
  
  text-transform: capitalize; 
  width: "100%";
  
}