/* styles.css */
.card {
    /* Establece el tamaño fijo para todas las tarjetas */
    width: 300px;
    height: 400px;
    /* Otros estilos que desees aplicar a todas las tarjetas */
  }

  .type {
    padding: 5px;
    margin: 5px;
    color: white; /* Opcional: Cambiar el color del texto a blanco para que sea legible en el fondo rojo */
  }

  .custom-background {
    background: url('https://c.wallhere.com/photos/e3/ab/Pok_mon_red_orange_bright_Cinema_4D_Pok_Balls-51446.jpg!d')
  }

  .centered-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh; /* Esto asegura que el contenedor ocupe al menos toda la altura de la ventana gráfica. */
  }

  

  
  
  
  

