/* styles.css */
.card {
    /* Establece el tamaño fijo para todas las tarjetas */
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #f0f0f0;
   border: 3px solid #ccc;
 
    /* height: 400px; */
    /* Otros estilos que desees aplicar a todas las tarjetas */
  }

  .type {
    padding: 5px;
    margin: 5px;
    color: white; /* Opcional: Cambiar el color del texto a blanco para que sea legible en el fondo rojo */
  }

  .custom-background {
    background: url('https://c.wallhere.com/photos/e3/ab/Pok_mon_red_orange_bright_Cinema_4D_Pok_Balls-51446.jpg!d')
  }

  .centered-grid {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-start;
  min-height: 100vh;
  }

  body {
    background-image: url("https://creditoh.com/assets/uploads/2019/03/fondo-blanco.jpg"); 
    background-size: cover;  
  }

  

  

  
  
  
  

