/* styles.css */
.card {
    /* Establece el tamaño fijo para todas las tarjetas */
    width: 300px;
    height: 400px;
    /* Otros estilos que desees aplicar a todas las tarjetas */
  }

  .type {
    padding: 5px;
    margin: 5px;
    color: white; /* Opcional: Cambiar el color del texto a blanco para que sea legible en el fondo rojo */
  }

  
  
  
  

